version: '3.8'

services:
  db_backend:
    image: postgres:15
    environment:
      POSTGRES_DB: naac_db
      POSTGRES_USER: naac_user
      POSTGRES_PASSWORD: naac_password
    volumes:
      - postgres_backend_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  db_keycloak:
    image: postgres:15
    environment:
      POSTGRES_DB: keycloak_db
      POSTGRES_USER: keycloak_user
      POSTGRES_PASSWORD: keycloak_password
    volumes:
      - postgres_keycloak_data:/var/lib/postgresql/data

  db_metabase:
    image: postgres:15
    environment:
      POSTGRES_DB: metabase_db
      POSTGRES_USER: metabase_user
      POSTGRES_PASSWORD: metabase_password
    volumes:
      - postgres_metabase_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    command: server /data
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"

  keycloak:
    image: quay.io/keycloak/keycloak:22.0
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://db_keycloak:5432/keycloak_db
      KC_DB_USERNAME: keycloak_user
      KC_DB_PASSWORD: keycloak_password
      KC_IMPORT: /tmp/keycloak-realm-config.json
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
    volumes:
      - ./keycloak-realm-config.json:/tmp/keycloak-realm-config.json
    depends_on:
      - db_keycloak
    ports:
      - "8080:8080"
    command: start-dev

  meilisearch:
    image: getmeili/meilisearch:v1.3
    environment:
      MEILI_MASTER_KEY: masterKey
    volumes:
      - meilisearch_data:/meili_data
    ports:
      - "7700:7700"

  metabase:
    image: metabase/metabase:v0.46.6
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase_db
      MB_DB_PORT: 5432
      MB_DB_USER: metabase_user
      MB_DB_PASS: metabase_password
      MB_DB_HOST: db_metabase
      MB_OIDC_ENABLED: true
      MB_OIDC_CLIENT_ID: naac-client
      MB_OIDC_SECRET: ""
      MB_OIDC_ISSUER: http://keycloak:8080/realms/naac-realm
      MB_OIDC_SCOPES: openid email profile
      MB_OIDC_BASE_URI: http://localhost:3001
    depends_on:
      - db_metabase
      - keycloak
    ports:
      - "3001:3000"

  backend:
    build: ./backend
    environment:
      - DJANGO_SETTINGS_MODULE=naac_system.settings
      - DEBUG=True
      - SECRET_KEY=django-insecure-default-key-change-in-production
      - POSTGRES_DB=naac_db
      - POSTGRES_USER=naac_user
      - POSTGRES_PASSWORD=naac_password
      - POSTGRES_HOST=db_backend
      - POSTGRES_PORT=5432
      - KEYCLOAK_SERVER_URL=http://keycloak:8080
      - KEYCLOAK_REALM=naac-realm
      - KEYCLOAK_CLIENT_ID=naac-client
      - KEYCLOAK_CLIENT_SECRET=
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_BUCKET_NAME=naac-documents
      - MEILISEARCH_URL=http://meilisearch:7700
      - MEILISEARCH_MASTER_KEY=masterKey
      - METABASE_URL=http://metabase:3000
      - CORS_ALLOWED_ORIGINS=http://localhost:5174,http://127.0.0.1:5174
    depends_on:
      - db_backend
      - minio
      - keycloak
      - meilisearch
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    command: python manage.py runserver 0.0.0.0:8000

  frontend:
    build: ./frontend
    ports:
      - "5174:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0
    depends_on:
      - backend

volumes:
  postgres_backend_data:
  postgres_keycloak_data:
  postgres_metabase_data:
  minio_data:
  meilisearch_data:
